html {
  font-size: 16px;
  background: #edeff0;
}

.wrap {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #c9ced1;
          box-shadow: 0 1px 2px 0 #c9ced1;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
.wrap h1 {
  margin: 0 0 20px;
  padding-top: 15px;
  font-size: 18px;
}

/* ------------------------------ UPLOAD BTNS BEGIN ------------------------------ */
.upload__wrap {
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem;
  border-bottom: 1px dotted #edeff0;
}
.upload__mess {
  border-left: solid 3px #ffb74d;
  padding-left: 0.5rem;
  color: #b5bac1;
}
.upload p {
  line-height: 2;
}
.upload p strong {
  color: #2f3640;
  padding-left: 0.3125rem;
}
.upload__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5625rem;
  margin-bottom: 1.5625rem;
}
.upload__del {
  display: block;
  position: absolute;
  right: -8px;
  top: -8px;
  width: 21px;
  height: 22px;
  background: url("delete-icon-copy.svg") 0 0 no-repeat;
  background-size: 22px 22px;
  cursor: pointer;
  opacity: 0.8;
}
.upload__del:hover {
  opacity: 1;
}
.upload__img {
  border-radius: 3px;
  width: 5.6875rem;
  height: 5.6875rem;
}
.upload__btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 5.6875rem;
  height: 5.6875rem;
  line-height: 5.6875rem;
  border-radius: 2px;
  border: solid 0.5px #dee1e6;
  text-align: center;
  cursor: pointer;
  opacity: 0.6;
  overflow: hidden;
}
.upload__btn:after {
  content: "+";
  color: #dee1e6;
  font-size: 2.5rem;
  line-height: 5rem;
  cursor: pointer;
}
.upload__btn:hover {
  opacity: 0.99;
}
.upload__btn:active {
  -webkit-box-shadow: inset 10px 10px 90px -30px rgba(0, 0, 0, 0.1);
          box-shadow: inset 10px 10px 90px -30px rgba(0, 0, 0, 0.1);
}
.upload__input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
}

.hidden_ms {
  display: none;
}

/* ------------------------------ UPLOAD BTNS END ------------------------------ */
